.meta-card-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 109.8rem;
}

.meta-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 16px 20px;
    min-height: 108px;
    padding: 16px 42px 16px 0px;
    border: 1px solid #382f66;
    border-radius: 6px;
    background-color: #2c274f;
    background-size: 280px;
    background-position: left top;
    background-repeat: no-repeat;
    box-shadow: rgb(21 11 37 / 50%) 0px 2px 10px 0px;
    transition: box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
    cursor: pointer;
    overflow: hidden;
}

.card-name {
    z-index: 1;
    position: relative;
    display: flex;
    column-gap: 16px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    width: 280px;
    padding-left: 20px;
}

.meta-name {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.name {
    text-decoration: none;
    font: 700 1.6rem / 2.4rem Roboto, sans-serif;
    letter-spacing: 0.015rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    max-width: 100%;
    color: white;
    transition: color 0.2s ease 0s;
    font-size: 1rem;
}

.champ-list {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 2px;
    padding-left: 16px;
}

.champ-card {
    position: relative
}

.champ-icon {
    position: relative
}

.icon {
    display: block;
    border-radius: 50%;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 3px 5px);
    width: 48px;
    height: 48px;
}

.icon span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.icon img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.15);
}

.champ-link {
    display: inline-flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    height: auto;
    position: relative;
    width: 68px;
}

@media screen and (min-width: 1200px) {
    .card {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.champName {
    font: 500 1.2rem / 2rem Roboto, sans-serif;
    letter-spacing: 0.025rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 8px;
    text-align: center;
    color: #b3b4d0;
    max-width: 70px;
    font-size: 0.8rem;
}